/node_modules
/backendApi/.phpunit.cache
/backendApi/node_modules
/backendApi/public/build
/backendApi/public/hot
/backendApi/public/storage
/backendApi/storage/*.key
/backendApi/storage/pail
/backendApi/vendor
/backendApi/.env
/backendApi/.env.backup
/backendApi/.env.production
/backendApi/.phpactor.json
/backendApi/.phpunit.result.cache
/backendApi/Homestead.json
/backendApi/Homestead.yaml
/backendApi/auth.json
/backendApi/npm-debug.log
/backendApi/yarn-error.log
/backendApi/.fleet
/backendApi/.idea
/backendApi/.nova
/backendApi/.vscode
/backendApi/.zed
